


@media (max-width: 1024px){

  .inner {
    width: 63%;}

  .modal {

    margin: 0 60px;
  
}
  
  .ex {
 
    font-size: 54px;
    left: 0px;
   
}

.main-left {

   margin-left: 0px; 
}

.system {
 
  font-size: 32px;
 
}

.method {
  font-size: 54px;
}
.main-right img{
  width: 74%;
  height: 100%;
  object-fit: cover;
  margin-left: 27%;
  margin-top: 0px;
}


.why {

  left: 42%;
  top: -15px;
  font-size: 40px;

}

.after-result {

  left: 0px; 
  display: none;
}

.ef-catch {
   margin-right: 0px;
   display: none;
  }
  .m-img {

    left: 30%;    
}

  .m-img img {
    width: 110%;

}

.notice-ba {
  display: none;
}

.msg-flex {



}
.msg-img {
  width: 100%;

}

.m-text {
  width: 100%;
}

.msg-img img {
  width: 100%;

}

  .fuki-inner {
    
    display: none;
}

.ef-catch:after {

  margin-right: 0px;
}

.lesson {
  font-size: 24px;
  margin-top: 30px;
  line-height: 1.5;
}

.lesson-span {
    letter-spacing: 0.05em;
    font-size: 32px;
}

.btn{
margin-bottom: 40px;

  font-size: 18px;

  padding: 20px 40px;

}


.mar {
  position: absolute;
  top: 52px;
  right: -103px;
  width: 30%;
}

.text {

  color: #5d5d5d;
}

.life {

display: none;
}

.second-text {
  color: #5d5d5d;
  font-size: 36px;
  font-weight: 600;
  line-height: 0.4;
  padding-bottom: 60px;
}

.image-item {

  width: 30%;

}

.three-wrapper {

  width: 100%;

}

.three-main {
 
  flex-direction: column;

}

.three-left {

  width: 100%;
}
.three-right {

  width: 100%;

}

.w90 {
  width: 100%; 
}

.three-image01 img {

  height: 40vw;

}

.three-image02 img {

  height: 40vw;

}
.report-human {
  margin-left: -165px;
}

.try-content {
  width: 40%;

}

.try {


 
  height: 134px;
  width: 80%;
  margin-left: 27px;
}

.try-text {

  font-size: 21px;
  padding-top: 34px;
}

.info-inner {
  width: 54%;

}

.info-inner p {
  line-height: 1.5;
}
.bf-wrapper {

  width: 50%;

}




.af-wrapper {
  width: 53%;

}

.tr-item {
  width: 50%;

}

.doctor-card {
flex-direction: column;

}

.doctor-image {
  width: 50%;
margin: 0 auto;
}

.doctor-text {
  width: 100%;

}

.flex-profile {
padding-bottom: 40px;
flex-direction: column;
}
.plan-text {

  left: 15%;

}
.course-list {
  padding-bottom: 50px;
}
.course-flex {
flex-direction: column;

}

.course-image {
  width: 80%;
margin: 0 auto;
}

.course-detail {
  width: 80%;
margin: 0 auto;
}

.free-text {

  left: 20%;
}

.map-content {

  flex-direction: column;
}

.map-items {

  width: 100%;
 
}

.take-text {

  left: 25%;

}

}

@media (max-width: 768px){

  .inner {
    width: 80%;
  }
  .free-text {
    left: 9%;
}
.take-text {
  left: 17%;
}
}

@media (max-width: 670px){

  .mob-tr {
  
    height: auto;
 
}

  .modal {

   flex-direction: column;
   margin:0 20px;
 
}

.top-right p{
font-size: 16px;
line-height: 1.5;
}

#translate-img {

  width: 100%;
}

.modal-image {
  width: 100%;
background-color: white;
}
.modal-text {

  width: 100%;

}


  .main{
  flex-direction: column;
    
    }




    .ex {
      width: 100%;

      font-size: 50px;
  left: 0;   
  display: none;
  }

  .system {
   
    font-size: 24px;
  line-height: 1.5;
}

.system-br{
  display: block;
  }

  .main-left {
    width: 100%;
  margin-left: 0px;
  margin-top: 20px;
  
  }
.none{
display: block;
  }

  .method {
    font-size: 42px;
   
}
.left-top .text {
  font-size: 16px;
  color: #5d5d5d;
 font-weight: normal;
}

.lesson {
  font-size: 20px;

  margin-top: 0px;
 
}

.main-left p {
  margin-left: 20px;
  margin-top: 10px;
 line-height: 1.5;
}

.lesson-span {
 
  font-size: 30px;
}

.btn {


  font-size: 16px;

  padding: 20px 50px;
  margin-bottom: 60px;


}

.why {
  left: 34%;
  font-size: 32px;
  top: -13px;
}

.second-wrapper {
  padding-top: 50px;
}
.second-text {
  color: #5d5d5d;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  padding-bottom: 40px;
}

.main-mob{
  margin-top: -20px;
width: 60%;
}

.life {
  top:300px;
  right:63px;
  display: block;
  font-size: 18px;
}

.mar-mob {

  width: 80px;
  height: 80px;
  right: 10%;
  bottom: 30%;
}

    .main-right {
  
      width: 100%;
    display: none;
  }
  .main-right img {
   width: 100%;
}

.mar {
 display: none;
}

.why-image {

}

.image-item {

   width: 30%
  
}

.image-item img{

   width: 100%
  
}


.monitor-item:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #333;
  -webkit-transform: skewX(0deg);
  transform: skewX(0deg);
  z-index: -1;
}

.cotent-img {
display: none;
}

.content-text {
flex-direction: column;
width: 100%;
}

.info-inner {
  width: 100%;
 order: 2;
}

.try-content {
  width: 100%;

}

.try {
  top: 0px;

  height: 120px;
  width: 100%;
  background: none;
  border-radius: 0%;
  margin: auto;
}

.report-name {

  font-size: 24px;
}

.label {
 
  padding: 17px 10px;
}

.bf-img img{

  width: 60%;
}

  .m-img {
    
    left: 18%;
    top: 62%;
}
.try-text{

  color: #ff65a6;
}

.try-text br{
display: none;
}

.beforeafter {
  display: flex;

}


.bf-wrapper {
padding-top: 0px;
width: 50%;

}

.af-wrapper {
  padding-top: 0px;
  width: 50%;

 
}

.label-left {
  text-align: center;
  margin-left: 0px;
}

.label {
width: 100%;
}

.label:after {

  display: none;
  
}

.fuki-inner {
display:none;
}

.after-result {
display: none;
}

.ef-catch {
  display: none;
}

.notice-ba {

display: none;
}

.msg-img img {
  width: 100%;
  height: 50vw;

}
.plan{
  padding: 160px;
}

.plan-text {


  left: 0;
  padding-left:20px;
}

.plan-title {

  font-size: 24px; 
}

.course-list {
  padding-bottom: 60px;
}
.course-flex {
flex-direction: column;
}

.course-image {
  width: 100%;
  
}

.course-detail {
  width: 100%;

  padding-left: 0px;
}

.course-detail h2 {

  padding-top: 40px;

}

.free-text {
  
  left: 0;
 
}

.free-title {

  font-size: 24px;
 
}

.free {
  padding-top: 200px;

 
}

.free-p {

  width: 80%;
  margin: 0 auto;
}

.map-content {
  display: flex;
 flex-direction: column;
}

.map-items {

  width: 100%;
 
  padding: 0px;
}

.take-text {
  width: 100%;
  left: 0%; 
 
}

.take-title {
  font-size: 24px;

}

.grid-flex {
 flex-direction: column;
}

.coun-item {
  width: 100%;
 
}

.coun-title h1 {
  font-size: 24px;
  color: #f74d95;
  margin-bottom: 20px;
}


.three-wrapper {

  width: 100%;
 
}


.three-main {
  flex-direction: column;
}

.three-left {
  width: 100%; 
}
.w90 {
  width: 100%;
}
.image01-left {
 
  width: 80%;
}

.three-image01 img {
 
  height: 50vw;

}

.image02-right {

  width: 80%;
}

.three-image02 img {

  height: 45vw;

}



.food-icon {

  font-size: 30px;

}
.right-icon {

  margin-top: 50%;
}



.right-icon:before {

  width: 40px;
  left: -20px;

}



.food-text {

  font-size: 12px;
}

.dumbel-icon {

  font-size: 30px;
 
}

.dumbel-text {
font-size: 12px;
}

.left-icon:before {

  width: 40px;

  right: -20px;
}
.left-icon {

  margin-top: 60%;
}

.three-sub-titlle {
 
  margin-top: 60px;
}

.be {
  font-size: 24px;
  
}

.re-sub {
  font-size: 24px;
margin-left: 20px;
  line-height: 1.5;
}

.re-sub,.re-sub2 {
text-align: left;
}
.re-be {
  margin-bottom: 70px; 
}

.content_wrap {
flex-direction: column;
width: 90%;
}

.foot-banner {
  width: 100%;
}

.social {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  order: 2;
  padding-top: 20px;
}

.footer-link{
  width: 50%;
  text-align: right;
  font-size: 50%;
}

.social_icons i {
 
  margin-right: 0px;
}

.social-icon {
  width: 50%;

}

.copyright-text {
  order: 3;
  width: 100%;
  padding-top: 60px;

}

.three-left {
  
  width: 100%;
 
}

.three-right {

  width: 100%;

}






.report-back:after  {
  content: "";
  width: 200%;
  height: 200%;
  position: absolute;
  right: -100%;
  top: 12%;
  background: rgba(0,0,0,.8);
  z-index: 0;
  -webkit-transform: rotate(65deg);
  transform: rotate(65deg);
}

.report-text{
  display: inline-block;
margin: 0 auto;
width: 90%;

}

.back-right {
  width: 100%;
  position: absolute;
 left: 0;
  top: 35%;
  z-index: 1;
}

.msg-flex {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;

}

.msg-img {
  width: 100%;
  margin-bottom: 40px;
}

.m-text {
  width: 100%;

  
}

.tr-title h1 {
  font-size: 42px;
  
}

.trainer-list {
  display: flex;
  flex-wrap: wrap;

  width: 100%
 
}

.tr-item {
  width: 50%;

}

.symbol {

  bottom: 35%;

  height: 36px;
 
  padding: 10px;

 
  width: 36px;

  text-align: center;

}

.trainer-link {
  height: 300px;
}

.image-item-inner {

  height: 100%;

}

.inner {
  width: 90%;
  height: 50%;
  border-radius: 50%;
  display: inline-block;
  margin: 0px auto;
  margin-top: 40px;
  position: relative;
}

.doctor-wrapper {
 padding: 0;
  padding-bottom: 60px;
}

.doctor-card {
  max-width: 1200px;

  display: flex;
flex-direction: column;
}

.doctor-image {
  width: 100%;

}

.doctor-text {
  width: 100%;
 
}

.flex-profile {
flex-direction: column;
font-size: 12px;
padding-left: 40px;
padding-bottom: 40px;

}
.msg-frame {
  padding: 20px;
}


.msg-frame p {
line-height: 2.5;
  padding: 20px;
 
}


}


@media (max-width: 450px){

  .main-left .lesson {
    text-align: center;
margin-left: 0px;
  }
  .left-top .btn {
display: block;
margin: 40px auto;
text-align: center;
}
.mar-mob {
  width: 100px;
  height: 100px;
 
  
}

.try-text {
  font-size: 34px;

}

.free-text {
left: auto;
 
}

.button {
margin-bottom: 40px;


  }
  .free {
    padding-top: 150px;
    padding-bottom: 440px;
}

}

@media (max-width: 414px){
  
  .plan-text {
    
    width: 80%;
    
  }
  
  .free-text {
    left: 0;
  }
  
}

@media (max-width: 375px){
  .mar-mob {
    width: 90px;
    height: 90px;
}

  .btn {
  
    padding: 18px 30px;
  }



  .re-sub {
    font-size: 20px;
    margin-left: 0px;
    
  }
  
  .re-sub2 {
    font-size: 14px;
  }
  
  .report-back {
    
    padding-bottom: 512px;
  }
  
  
  .m-img {
    left: 18%;
    top: 129%;
  }
  
  .m-img img {
    width: 90%;
    height: 90vw;
    object-fit: cover;
  }
  .mt-right {
 
    font-size: 20px;
  
}


  
  
}

@media (max-width: 360px){
  .m-img {
    
    top: 106%;
  }
  .m-img img {
    
    height: 100vw;
    
  }
  .mar-mob {
    width: 80px;
    height: 80px;
    bottom: 29%;
  }
  
  .lesson {
    font-size: 18px;
    margin-top: 0px;
  }
  
  
}
    @media (max-width: 320px){

      .life {
        top: 327px;
        right: 33px;
       
    }

      .mar-mob {
     
        width: 70px;
        height: 70px;
        bottom: 33%;
    }
    .lesson {
      font-size: 14px;
      
  }
  .btn {
    font-size: 13px;}
    
    .try-text {
      font-size: 30px;
  }

  .mt-right {
    font-size: 18px;
}

    }

    @media (max-width: 280px){
      .tr-title h1 {
        font-size: 32px;
    }

    .tr-title h1 {
    font-size: 32px;
}

table.price-list th, table.price-list td {
  padding: 6px;

}
.plan {
  padding: 140px;
}

.system {
  font-size: 20px;}

  .method {
    font-size: 32px;
}

.mar-mob {
  width: 50px;
  height: 50px;
  bottom: 28%;
}

.life {
  top: 296px;
  right: 33px;
  font-size: 14px;
}

.lesson-span {
  font-size: 23px;
}

.btn {
  font-size: 10px;
}
.why {
  left: 28%;
}
.food-icon {
  font-size: 24px;
}
.three-image02 {

  margin-top: -20px;
}
.dumbel-icon {
  font-size: 24px;
}
.re-sub {
  font-size: 18px;
 
}

.try-text {
  font-size: 24px;
}

.inner {

  height: 35%;}

  .symbol {
    bottom: 46%;}
    .trainer-title {
  
      bottom: 28%;}

      .tr-position {
   
        font-size: 10px;
    }

    .tr-item {
      
      height: 250px;
  }
  .doctor-title {

    font-size: 22px;}

    .msg-frame p {
      font-size: 12px;}

      .plan-text {
  
        
        top: 50px;
    }

    .summary-box p.big {
      font-size: 30px;
      margin-bottom: 36px;
  }

  .summary-box {

    top: 58%;

}

  .course-detail h2 {
    padding-top: 100px;
    font-size: 24px;
}

.course-detail h3 {

  font-size: 25px;}


  .course-list table.price-list td span.small {
    font-size: 10px;
}
table.price-list td {
  font-size: 20px;
 
}
.mt-right {
  font-size: 14px;
}

.wide {
  padding: 0px;

}
.t-cap {
  font-size: 14px;
  padding: 10px 16px;
  text-align: center;
}

.t-title {

  font-size: 20px;

}

.t-sub {
  padding: 8px 3px 8px 3px;
  

    }
  }